:root {
    --clr-normal-100: white;
    --clr-normal-300: #333;
    --clr-normal-400: black;

    // COLORS
    // STANDARD
    // --clr-border: #901010;
    // --clr-primary: #5c1c0c;
    // --clr-primary-text-shadow: #333;
    // --clr-accent: #901010;
    // --clr-accent-text-shadow: #333;
    // --clr-bg: linear-gradient(135deg, #fffedf, #fffdf1, #fffedf);
    --clr-bullet: #884d00;
    // --clr-hyperlink: #55aa7f;
    // --image-filter: none;

    // FEAST (GOLD AND WHITE)
    // --clr-border: #e9ca19;
    // --clr-primary: #cf7c00;
    // --clr-primary-text-shadow: #ccc;
    // --clr-accent: #e9ca19;
    // --clr-accent-text-shadow: #333;
    // --clr-bg: linear-gradient(135deg, #ffd, #fff, #ffc);
    // --image-filter: saturate(180%) hue-rotate(230deg) invert(95%) drop-shadow(1px 1px var(--clr-accent-text-shadow));

    // ADVENT
    // Weeks 1, 2, 4
    // --clr-border: #610088;
    // --clr-primary: #550051;
    // --clr-accent: #6f00ff;
    // --clr-bg: linear-gradient(135deg, #f9effa, #fbf5fc, #f9effa);
    // --image-filter: hue-rotate(285deg);
    // Week 3
    // --clr-border: #ff82e4;
    // --clr-primary: #3f1635;
    // --clr-accent: #ff82e4;
    // --clr-bg: linear-gradient(135deg, #fdefff, #ffebfa, #fdefff);
    // --image-filter: hue-rotate(325deg) brightness(500%);

    // CHRISTMAS VIGIL
    // --clr-primary: #880000;
    // --clr-border: #e9ca19;
    // --clr-accent: #e9ca19;
    // --clr-accent-text-shadow: #220;
    // --clr-bg: linear-gradient(135deg, #fff, #eee, #fff);
    // --image-filter: none;

    // PURPLE
    // --clr-border: #690069;
    // --clr-primary: #690069;
    // --clr-primary-text-shadow: #ccc;
    // --clr-accent: #550086;
    // --clr-accent-text-shadow: #ccc;
    // --clr-bg: linear-gradient(135deg, #ffe0ff, #fffdff, #ffe0ff);
    // --image-filter: hue-rotate(300deg);

    // RED
    --clr-border: #c40000;
    --clr-primary: #c40000;
    --clr-primary-text-shadow: #555;
    --clr-accent: #e00000;
    --clr-accent-text-shadow: #555;
    --clr-bg: linear-gradient(135deg, #fcd0d0, #ffeeee, #fcd0d0);

    // FONT SIZES
    --fs-300: 1em;
    --fs-400: 1.2em;
    --fs-500: 1.3em;
    --fs-600: 1.4em;
    --fs-700: 1.6em;
    --fs-800: 2.4em;

    // FONT FAMILIES
    --ff-main: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
    --ff-primary: Arial, Helvetica, sans-serif;
    --ff-accent: Taviraj, Georgia, 'Times New Roman', Times, serif;
    --ff-title: Maitree, Georgia, 'Times New Roman', Times, serif;

    --padding-bg: 3rem;
    --spacer: 1.5rem;
    --padding-small: 0.75rem;
    --inline-indent: 1em;

    --min-logo-title-width: 8em;
    --max-logo-title-width: 18em;
}

@font-face {
    font-family: 'Maitree';
    src: url(../fonts/Maitree/Maitree-Regular.ttf);
}

@font-face {
    font-family: 'Taviraj';
    src: url(../fonts/Taviraj/Taviraj-Regular.ttf);
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/Lbre Baskerville/LibreBaskerville-Regular.ttf');
}

// resets
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 2.5rem;
    font-size: clamp(1rem, 1.75vw, 2.5rem);
    font-family: var(--ff-primary);
    color: var(--clr-normal-300);
    line-height: 1.4;
}

.container {
    height: 100%;
    background: var(--clr-bg);
}

.vertically-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--clr-hyperlink);
}

.bordered {
    position: relative;
    padding: var(--padding-bg);

    &::after {
        position: absolute;
        content: '';
        top: calc(var(--padding-bg) / 2);
        bottom: calc(var(--padding-bg) / 2);
        left: calc(var(--padding-bg) / 2);
        right: calc(var(--padding-bg) / 2);
        border: solid 4px var(--clr-border);
    }
}

.church-bg {
    position: relative;
    background-image: url(../images/sttheodoremain-2.jpg);
    background-size: cover;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--clr-bg);
        opacity: 0.9;
        z-index: -1;
    }
}

.title-page {
    text-align: center;
    font-family: var(--ff-main);

    &__logo {
        filter: var(--image-filter);
        margin-bottom: calc(var(--spacer) * 2);
        width: 100%;

        img {
            width: var(--max-logo-title-width);
            // width: clamp(var(--min-logo-title-width), var(--max-logo-title-width), var(--max-logo-title-width));
            // width: clamp(var(--min-logo-title-width), 100rem, 100rem);
        }
    }

    &__conclusion,
    &__title {
        font-size: var(--fs-800);
        color: var(--clr-accent);
        text-shadow: 0.025em 0.025em var(--clr-accent-text-shadow);
        line-height: 1.2;
        margin-bottom: var(--padding-small);
    }

    &__title {
        text-decoration: underline;
    }

    &__subtitle {
        font-size: var(--fs-700);
        color: var(--clr-accent);
        text-decoration: underline;
        text-shadow: 0.025em 0.025em var(--clr-accent-text-shadow);
        line-height: 1.2;
        margin-bottom: var(--padding-small);
    }

    &__date {
        font-size: var(--fs-700);
        font-style: italic;
        color: var(--clr-primary);
    }

    &__image {
        margin-top: var(--spacer);
        height: 50%;

        & img {
            position: relative;
            height: 100%;
            mix-blend-mode: multiply;
        }
    }

    &__quote {
        position: relative;
        width: 80%;
        margin-top: calc(var(--spacer) * 2);
        font-style: italic;

        p:first-child::before {
            content: open-quote;
        }

        p:last-child::after {
            content: close-quote;
        }

        margin-bottom: var(--padding-small);
    }

    &__verse {
        font-weight: 600;
        color: var(--clr-primary);
    }
}

ul[class] {
    list-style: none;
    margin-bottom: var(--spacer);

    li {
        padding-inline-start: calc(var(--spacer) * 2);
    }
}

.list-title {
    --clr-lt: var(--clr-normal-300);
    color: var(--clr-lt);

    &__heading {
        display: inline-block;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0.2em;
            width: 100%;
            border-bottom: 0.07em solid var(--clr-lt);
        }
    }

    .verse {
        color: var(--clr-lt);
    }
}

.verse {
    color: var(--clr-accent);
    text-shadow: 2px 2px var(--clr-accent-text-shadow);
    text-transform: uppercase;
}

.header {
    margin-bottom: calc(var(--spacer) / 2);
    margin-bottom: var(--spacer);

    .verse {
        margin-bottom: var(--spacer);
    }
}

.heading {
    position: relative;
    display: inline-block;
    font-size: var(--fs-700);
    font-family: var(--ff-title);
    letter-spacing: 0.025em;
    margin-top: -0.2em;
    color: var(--clr-primary);
    text-shadow: 2px 2px var(--clr-accent-text-shadow);
    text-decoration: underline;
}

.float-spacer {
    width: 0;
    height: calc(100% - var(--image-height));

    &-right {
        float: right;
    }

    &-left {
        float: left;
    }

    &-center {
        float: right;
        position: relative;
        left: -50%;
    }
}

.float-image {
    &-right {
        --float-dir: right;
        --margin-left: var(--spacer);
        --margin-right: 0;
    }

    &-left {
        --float-dir: left;
        --margin-left: 0;
        --margin-right: var(--spacer);
    }

    &-center {
        --float-dir: right;
        position: relative;
        right: 50%;
        transform: translate(50%);
        --margin-left: var(--spacer);
        --margin-right: var(--spacer);
    }

    float: var(--float-dir);
    clear: var(--float-dir);
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
    height: var(--image-height);

    & img {
        position: relative;
        height: 100%;
        mix-blend-mode: multiply;
    }
}

.announcements {
    height: 100%;

    &-1 {
        --image-height: 40%;
    }

    &-2 {
        --image-height: 40%;
    }

    &-3 {
        --image-height: 30%;
    }

    &-4 {
        --image-height: 55%;
    }

    &-5 {
        --image-height: 100%;
    }

    &__content {
        margin-top: calc(var(--spacer) / 2);
        font-size: var(--fs-400);
        font-family: var(--ff-accent);
        font-family: var(--ff-main);
        height: calc(100% - var(--spacer) * 2);

        & > p {
            text-align: left;
            position: relative;
            margin-left: calc(var(--spacer) * 2);

            &:not(:last-child) {
                margin-bottom: calc(var(--spacer) * 2);
            }

            &::before {
                content: '\2020';
                font-family: var(--ff-primary);
                font-weight: 700;
                position: absolute;
                color: var(--clr-bullet);
                text-shadow: 0.025em 0.025em var(--clr-accent-text-shadow);
                top: -0.075em;
                left: calc(-2 * var(--spacer));
            }
        }
    }

    &--emphasis {
        font-family: var(--ff-accent);
        font-weight: 600;
        font-style: italic;
    }
}

.prayer {
    font-size: var(--fs-300);
    font-family: var(--ff-accent);
    position: relative;

    p {
        white-space: pre-line;
    }

    & > *:not(:last-child) {
        margin-bottom: var(--spacer);
    }

    & > *:last-child {
        margin-bottom: calc(var(--spacer) * -1);
    }

    &__voice {
        &:not(.continue):before {
            display: inline-block;
            white-space: pre;
            content: 'V: ';
        }
    }

    &--verse {
        font-style: italic;
        display: inline-block;
        margin-left: var(--inline-indent);
    }

    &__priest {
        &:not(.continue):before {
            display: inline-block;
            white-space: pre;
            content: 'Priest: ';
        }
    }

    &__invocation {
        font-style: italic;
    }

    &__response {
        font-weight: 700;

        &:not(.continue):before {
            display: inline-block;
            white-space: pre;
            position: relative;
            font-weight: 600;
            content: 'R: ';
        }
    }
}

.full-screen-prayer {
    font-size: var(--fs-600);
    font-family: var(--ff-accent);

    p {
        white-space: pre-line;

        &:not(:last-child) {
            margin-bottom: var(--spacer);
        }
    }
}

.dark-filter {
    position: relative;
    color: var(--clr-normal-100);
    z-index: 0;
    background: unset;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: -1;
    }
}

.video {
    position: relative;
    height: 100%;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/sttheodores_header.png);
        background-size: cover;
        bottom: 0;
        left: 0;
        height: 4rem;
        width: 16rem;
        filter: var(--image-filter);
    }
}

.image-circle {
    img {
        border-radius: 50%;
    }
}
