:root {
  --clr-primary-400: #aa0000;
  --clr-accent-400: #55aa7f;
  --clr-bg: #fffbe7;
  --fs-400: 2.4rem;
  --fs-500: 2.6rem;
  --fs-600: 3.6rem;
  --fs-700: 3.8rem;
  --ff-main: Arial, Helvetica, sans-serif;
  --ff-title: Georgia, 'Times New Roman', Times, serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-size: var(--fs-500);
  background: var(--clr-bg, #fffbe7);
  font-family: var(--ff-main);
}

.left {
  width: 100%;
}

.content {
  position: relative;
  height: calc(1080px - 3rem);
  width: calc(960px - 3rem);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5rem;
  border: solid 4px var(--clr-primary-400, #aa0000);
}

.content .heading {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.75em;
  text-align: center;
}

.content .heading :not(:last-child) {
  margin-bottom: 0.25em;
}

.content .heading h1 {
  font-size: var(--fs-600);
  line-height: 1.2;
  font-family: var(--ff-title);
}

.content .heading h2 {
  font-size: var(--fs-600);
  line-height: 1;
  font-weight: 400;
}

.content .heading .verse {
  color: var(--clr-accent-400);
  font-size: var(--fs-400);
}

.content .body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-size: var(--fs-400);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: colum;
          flex-direction: colum;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.content .image {
  position: relative;
  height: var(--mystery-img-height);
}

.content .image::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  height: var(--mystery-img-height);
  width: 100%;
  background: var(--clr-primary-400, #aa0000);
  z-index: -1;
}

.content .image img {
  height: var(--mystery-img-height);
}

.prayer {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: pre-line;
  line-height: 1.4;
}

.prayer > div:not(:last-child) {
  margin-bottom: 0.75em;
}

.prayer__voice:before {
  display: inline-block;
  white-space: pre;
  content: 'V: ';
}

.prayer__priest:before {
  display: inline-block;
  white-space: pre;
  content: 'Priest: ';
}

.prayer__response {
  font-weight: 700;
}

.prayer__response:not(.continue):before {
  display: inline-block;
  white-space: pre;
  position: relative;
  content: 'R: ';
}

.prayer__image {
  position: absolute;
  bottom: 1rem;
  right: 1.6rem;
}

.prayer__image::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  height: var(--prayer-img-height);
  width: 100%;
  background: var(--clr-primary-400, #aa0000);
  z-index: -1;
}

.prayer__image img {
  height: var(--prayer-img-height);
}
/*# sourceMappingURL=styles.css.map */