:root {
    --clr-primary-400: #aa0000;
    --clr-accent-400: #55aa7f;
    --clr-bg: #fffbe7;

    --fs-500: 2.4rem;
    --fs-600: 3.6rem;

    --ff-main: Arial, Helvetica, sans-serif;
    --ff-title: Georgia, 'Times New Roman', Times, serif;

    --padding-bg: 1.25em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: var(--fs-500);
    font-family: var(--ff-main);
}

%bordered-background {
    &::before {
        position: absolute;
        content: '';
        height: calc(100% - 1em);
        width: calc(100% - 1em);
        border: solid 4px var(--clr-primary-400, #aa0000);
    }
}

.left {
    width: 100%;
}

p:not(:last-child) {
    margin-bottom: 1em;
}

.content--full-screen {
    position: relative;
    background: var(--clr-bg, #fffbe7);
    height: 1080px;
    width: 1920px;
    overflow: hidden;
    padding: var(--padding-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @extend %bordered-background;
}

.heading {
    width: 100%;
    flex: 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0.75em;
    text-align: center;

    & :not(:last-child) {
        margin-bottom: 0.25em;
    }

    & h1 {
        font-size: var(--fs-600);
        line-height: 1.2;
        font-family: var(--ff-title);
        text-decoration: underline;
    }

    & h2 {
        font-size: var(--fs-500);
        line-height: 1;
        font-weight: 400;
    }
}

.verse {
    color: var(--clr-accent-400);
}

.body {
    flex: 1 1 100%;
    display: flex;
    flex-direction: colum;
    height: 100%;
    line-height: 1.4;
}

.left {
    width: 100%;
}

.content {
    position: relative;
    background: var(--clr-bg, #fffbe7);
    height: 1080px;
    width: 960px;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @extend %bordered-background;
}

ul[class] {
    list-style: none;
}

.prayer {
    position: relative;
    display: flex;
    flex-direction: column;
    white-space: pre-line;

    & > div:not(:last-child) {
        margin-bottom: 0.75em;
    }

    &__voice {
        &:before {
            display: inline-block;
            white-space: pre;
            content: 'V: ';
        }
    }

    &__priest {
        &:before {
            display: inline-block;
            white-space: pre;
            content: 'Priest: ';
        }
    }

    &__response {
        font-weight: 700;

        &:not(.continue):before {
            display: inline-block;
            white-space: pre;
            position: relative;
            content: 'R: ';
        }
    }
}
