:root {
    --clr-primary-400: #aa0000;
    --clr-accent-400: #55aa7f;
    --clr-bg: #fffbe7;

    --fs-400: 2.4rem;
    --fs-500: 2.6rem;
    --fs-600: 3.6rem;
    --fs-700: 3.8rem;

    --ff-main: Arial, Helvetica, sans-serif;
    --ff-title: Georgia, 'Times New Roman', Times, serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: var(--fs-500);
    background: var(--clr-bg, #fffbe7);
    font-family: var(--ff-main);
}

.left {
    width: 100%;
}

.content {
    position: relative;
    height: calc(1080px - 3rem);
    width: calc(960px -3rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1.5rem;
    border: solid 4px var(--clr-primary-400, #aa0000);

    & .heading {
        flex: 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 0.75em;
        text-align: center;

        & :not(:last-child) {
            margin-bottom: 0.25em;
        }

        & h1 {
            font-size: var(--fs-600);
            line-height: 1.2;
            font-family: var(--ff-title);
        }

        & h2 {
            font-size: var(--fs-600);
            line-height: 1;
            font-weight: 400;
        }

        .verse {
            color: var(--clr-accent-400);
            font-size: var(--fs-400);
        }
    }

    & .body {
        flex: 1 1 100%;
        font-size: var(--fs-400);
        display: flex;
        flex-direction: colum;
        align-items: center;
        height: 100%;
    }

    & .image {
        position: relative;
        height: var(--mystery-img-height);

        &::before {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            height: var(--mystery-img-height);
            width: 100%;
            background: var(--clr-primary-400, #aa0000);
            z-index: -1;
        }

        & img {
            height: var(--mystery-img-height);
        }
    }
}

.prayer {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    line-height: 1.4;

    & > div:not(:last-child) {
        margin-bottom: 0.75em;
    }

    &__voice {
        &:before {
            display: inline-block;
            white-space: pre;
            content: 'V: ';
        }
    }

    &__priest {
        &:before {
            display: inline-block;
            white-space: pre;
            content: 'Priest: ';
        }
    }

    &__response {
        font-weight: 700;

        &:not(.continue):before {
            display: inline-block;
            white-space: pre;
            position: relative;
            content: 'R: ';
        }
    }

    &__image {
        position: absolute;
        bottom: 1rem;
        right: 1.6rem;

        &::before {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            height: var(--prayer-img-height);
            width: 100%;
            background: var(--clr-primary-400, #aa0000);
            z-index: -1;
        }

        img {
            height: var(--prayer-img-height);
        }
    }
}
