:root {
    --clr-normal-100: white;
    --clr-normal-400: black;
    --clr-primary-400: #aa0000;
    --clr-primary-500: #880000;
    --clr-primary-600: #550000;
    --clr-accent-400: #55aa7f;
    --clr-bg: linear-gradient(150deg, #fffadf, #fff4c4);

    --fs-500: 2.4rem;
    --fs-600: 3.6rem;

    --ff-main: Arial, Helvetica, sans-serif;
    --ff-title: Georgia, 'Times New Roman', Times, serif;

    --padding-bg: 1.25em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: var(--fs-500);
    font-family: var(--ff-main);
    color: var(--clr-primary-600);
    background: rgba(0, 0, 0, 0);
}

%bordered-background {
    &::before {
        position: absolute;
        content: '';
        height: calc(100% - 1em);
        width: calc(100% - 1em);
        border: solid 4px var(--clr-primary-400);
    }
}

.left {
    width: 100%;
}

p:not(:last-child) {
    margin-bottom: 1em;
}

.content--full-screen {
    position: relative;
    background: var(--clr-bg);
    height: 1080px;
    width: 1920px;
    overflow: hidden;
    padding: var(--padding-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bordered-background {
    @extend %bordered-background;
}

.church-bg {
    position: relative;
    background-image: url(../images/sttheodoremain-2.jpg);
    background-size: cover;
    font-size: 2rem;
    color: var(--clr-primary-400);

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.6);
    }

    & > * {
        z-index: 2;
    }
}

.dark-filter {
    position: relative;
    font-size: 4rem;
    background: unset;
    color: var(--clr-normal-100);

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    & > * {
        z-index: 2;
    }

    & p {
        white-space: pre-line;
    }
}

.title-page {
    --fs-400: 4rem;
    --fs-500: 5rem;
    --fs-600: 6rem;

    & > *:not(:last-child) {
        margin-bottom: 1rem;
    }
}

h1 {
    font-size: var(--fs-600);
    line-height: 1.2;
    font-family: var(--ff-title);
    text-decoration: underline;
    letter-spacing: 0.05em;
}

h2 {
    font-size: var(--fs-500);
    line-height: 1;
    font-weight: 400;
}

h3 {
    font-size: var(--fs-400);
    line-height: 1;
    font-weight: 400;
}

.heading {
    width: 100%;
    flex: 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0.75em;
    text-align: center;

    & :not(:last-child) {
        margin-bottom: 0.25em;
    }
}

.verse {
    color: var(--clr-accent-400);
}

.body {
    flex: 1 1 100%;
    display: flex;
    flex-direction: colum;
    height: 100%;
    line-height: 1.4;
}

.left {
    width: 100%;
}

.content {
    position: relative;
    background: var(--clr-bg);
    height: 1080px;
    width: 960px;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @extend %bordered-background;
}

ul[class] {
    list-style: none;
}

.prayer {
    position: relative;
    display: flex;
    flex-direction: column;
    white-space: pre-line;

    & > *:not(:last-child) {
        margin-bottom: 0.75em;
    }

    &__voice {
        &:before {
            display: inline-block;
            white-space: pre;
            content: 'V: ';
        }
    }

    &__priest {
        &:before {
            display: inline-block;
            white-space: pre;
            content: 'Priest: ';
        }
    }

    &__response {
        font-weight: 700;

        &:not(.continue):before {
            display: inline-block;
            white-space: pre;
            position: relative;
            content: 'R: ';
        }
    }
}
