:root {
  --clr-normal-100: white;
  --clr-normal-400: black;
  --clr-primary-400: #aa0000;
  --clr-primary-500: #880000;
  --clr-primary-600: #550000;
  --clr-accent-400: #55aa7f;
  --clr-bg: linear-gradient(150deg, #fffadf, #fff4c4);
  --fs-400: 1rem;
  --fs-500: 1.4rem;
  --fs-600: 2.6rem;
  --ff-main: Arial, Helvetica, sans-serif;
  --ff-title: Georgia, 'Times New Roman', Times, serif;
  --padding-bg: 1.25em;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-size: var(--fs-500);
  font-family: var(--ff-main);
  color: var(--clr-primary-600);
  background: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
}

.bordered-background::before {
  position: absolute;
  content: '';
  height: calc(100% - 1em);
  width: calc(100% - 1em);
  border: solid 4px var(--clr-primary-400);
}

.left {
  width: 100%;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

.content.church-bg,
.church-bg {
  position: relative;
  background-image: url(../images/sttheodoremain-2.jpg);
  background-size: cover;
  font-size: 2rem;
  color: var(--clr-primary-400);
}

.content.church-bg::before,
.church-bg::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
}

.content.church-bg > *,
.church-bg > * {
  z-index: 2;
}

.dark-filter {
  position: relative;
  font-size: 4rem;
  background: unset;
  color: var(--clr-normal-100);
}

.dark-filter::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.dark-filter > * {
  z-index: 2;
}

.dark-filter p {
  white-space: pre-line;
}

.title-page {
  --fs-400: 1rem;
  --fs-500: 2rem;
  --fs-600: 3rem;
}

.title-page > *:not(:last-child) {
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--fs-600);
  line-height: 1.2;
  font-family: var(--ff-title);
  text-decoration: underline;
  letter-spacing: 0.05em;
}

h2 {
  font-size: var(--fs-500);
  line-height: 1;
  font-weight: 400;
}

h3 {
  font-size: var(--fs-400);
  line-height: 1;
  font-weight: 400;
}

@media (min-width: 600px) {
  :root {
    --fs-400: 1.2rem;
    --fs-500: 2.4rem;
    --fs-600: 3.2rem;
  }
  .title-page {
    --fs-400: 3rem;
    --fs-500: 4rem;
    --fs-600: 5rem;
  }
}

@media (min-width: 900px) {
  :root {
    --fs-400: 2rem;
    --fs-500: 2.4rem;
    --fs-600: 3.6rem;
  }
  .title-page {
    --fs-400: 4rem;
    --fs-500: 5rem;
    --fs-600: 6rem;
  }
}

.heading {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.75em;
  text-align: center;
}

.heading :not(:last-child) {
  margin-bottom: 0.25em;
}

.verse {
  color: var(--clr-accent-400);
}

.body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: colum;
          flex-direction: colum;
  height: 100%;
  line-height: 1.4;
}

.left {
  width: 100%;
}

.content {
  position: relative;
  background: var(--clr-bg);
  min-height: 100%;
  padding: var(--padding-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul[class] {
  list-style: none;
}

.prayer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: pre-line;
}

.prayer > *:not(:last-child) {
  margin-bottom: 0.75em;
}

.prayer__voice:before {
  display: inline-block;
  white-space: pre;
  content: 'V: ';
}

.prayer__priest:before {
  display: inline-block;
  white-space: pre;
  content: 'Priest: ';
}

.prayer__response {
  font-weight: 700;
}

.prayer__response:not(.continue):before {
  display: inline-block;
  white-space: pre;
  position: relative;
  content: 'R: ';
}
/*# sourceMappingURL=styles.css.map */